/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@300;400;600&display=swap");

/* PAGE RESET */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --para: hsl(215, 51%, 70%);
  --time: hsl(215, 51%, 70%);
  --eth: hsl(178, 100%, 50%);
  --mainBG: hsl(217, 54%, 11%);
  --cardBG: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --header: hsl(0, 0%, 100%);
  font-size: 18px;
}

@media only screen and (min-width: 375px) and (max-width: 750px) {
     /* ABOVE CHANGES SETTINGS AT 375px SCREEN SIZE TO 540px SCREEN SIZE */
   body {
    width: 100%;
    height: 100vh;
    background-color: var(--mainBG);
    font-family: 'Outfit', sans-serif;
   } 

   .card {
    background-color: var(--cardBG);
    width: 350px;
    margin: .5rem auto;
    padding: 1rem;
    border-radius: .8rem;
   }
   .image-container {
    width: 95%;
    margin: 0 auto;
    border-radius: .8rem;
    /* to visualize */
    /* border: 1px solid yellow; */
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 40%; */
     }

     .info {
        margin: 1rem auto;
     }

     .header {
        color: var(--header);
        font-weight: 600;
        margin-left:1rem;
        font-size: 1.3rem;
     }

     .about {
        font-size: 1rem;
        font-weight: 300;
        color: var(--para);
        margin-top: 1rem;
        margin-left: 1rem;
        width: 300px;
        line-height: 1.5rem;

     }
     .eth {
        color: var(--eth);
        margin: 1rem;
     }

     .time {
        color: var(--time);
        margin-left: 10px;
        /* border: 1px solid greenyellow; */
justify-content: right;
display: inline-flex;

}
     #clock {
        float: left;
        margin-left: 1.2rem;
     }
.amount {
   /* border: 1px solid pink; */
   position: relative;
display: flex;
font-weight: 600;
}
     #crypto {
        float: left;
     }

     .link {
        text-decoration: none;
        color: var(--header);
     }

     .amntdays {
        margin-left: 1rem;
        /* for visualization */
        /* border: 1px solid red; */
        width: 300px;
        display: flex;
        align-items: center;
     }

    #nft {
    width: 100%;
    border-radius: .8rem;
    /* padding: 1rem; */
}
.creator {
  display: flex;
  margin-left: 1rem;
  align-items: center; 
  border-top: 1px solid var(--line);
  padding-top: 1rem;
}
#jw {
    width: 2.3rem;
    border: 1px solid white;
    border-radius: 50%;
}
.name {
  color: var(--para);
  margin-left: 1rem;
}
.active-link a:active, a:hover {
   color: var(--eth);
}
.image-overlay a:active {
background-image: url(/images/icon-view.svg);
z-index: 2;
}
}
@media only screen and (min-width: 751px) and (max-width: 1440px) {
   ABOVE CHANGES SETTINGS AT 375px SCREEN SIZE TO 540px SCREEN SIZE
body{
   width: 100%;
   height: 100vh;
   background-color: var(--mainBG);
   font-family: 'Outfit', sans-serif;
  } 

  .card {
   background-color: var(--cardBG);
   width: 25rem;
   margin: .5rem auto;
   padding: 1rem;
   border-radius: .8rem;
  }
  .image-container {
   width: 35rem;
   margin: 0 auto;
   border-radius: .8rem;
   /* to visualize */
   /* border: 1px solid yellow; */
   /* justify-content: center; */
   /* align-items: center; */
   /* height: 40%; */
    }

    .info {
       margin: 1rem auto;
    }

    .header {
       color: var(--header);
       font-weight: 600;
       margin-left:1rem;
       font-size: 1.3rem;
    }

    .about {
       font-size: 1rem;
       font-weight: 300;
       color: var(--para);
       margin-top: 1rem;
       margin-left: 1rem;
       width: 300px;
       line-height: 1.5rem;

    }
    .eth {
       color: var(--eth);
       margin: 1rem;
    }

    .time {
       color: var(--time);
       margin-left: 10px;
       /* border: 1px solid greenyellow; */
justify-content: right;
display: inline-flex;

}
    #clock {
       float: left;
       margin-left: 1.2rem;
    }
.amount {
  /* border: 1px solid pink; */
  position: relative;
display: flex;
font-weight: 600;
}
    #crypto {
       float: left;
    }

    .link {
       text-decoration: none;
       color: var(--header);
    }

    .amntdays {
       margin-left: 1rem;
       /* for visualization */
       /* border: 1px solid red; */
       width: 300px;
       display: flex;
       align-items: center;
    }

   #nft {
   width: 100%;
   border-radius: .8rem;
   width: 35rem;
   /* padding: 1rem; */
}
.creator {
  display: flex;
  margin-left: 1rem;
 align-items: center; 
 border-top: 1px solid var(--line);
 padding-top: 1rem;
}
#jw {
   width: 2.3rem;
   border: 1px solid white;
   border-radius: 50%;
}
.name {
  color: var(--para);
  margin-left: 1rem;
}
.active-link a:active, a:hover {
  color: var(--eth);
}
.image-overlay a:active {
background-image: url(/images/icon-view.svg);
z-index: 2;
}
}